// _variables.scss

$primary-color: #343a40;
$secondary-color: #007bff;
$transition-speed: 0.3s;

$bg-color-light: #f8f9fa;
$bg-color-dark: #222;
$text-color-light: #333;
$text-color-dark: #eee;

$top-bar-height: 60px;
$tab-height: 60px;
$font-size-base: 16px;
