@charset "UTF-8";
/* 
  Definimos las variables CSS para el tema claro por defecto.
  Estas variables se pueden utilizar en cualquier parte del código mediante la función var().
*/
:root {
  /* Colores principales */
  --primary-color: #f8faf8;
  --secondary-color: #1470c2;
  --secondary-color-hover: #0056b3;
  /* Colores del tema claro */
  --bg-color: #f8faf8;
  --text-color: #333;
  /* Colores complementarios */
  --white: #ffffff;
  --black: #000000;
  --light-grey: #f5f5f5;
  --grey-border: #ddddddea;
  --input-border: #ced4da;
  --bgcolor-hover: #e0e0e0;
  --bgcolor-active: #d5d5d5;
  --border-btt: #c9c9c9;
  --bg-tab: #e9ecef;
  --txtcolor-tab: #919191;
  --bg-tab-hover: #dee2e6;
  --bg-tab-active: #495057;
  /* Variables de tamaño y transición */
  --top-bar-height: 60px;
  --tab-height: 60px;
  --font-size-base: 16px;
  --transition-speed: 0.3s;
  --textfield: #f8faf8;
  --textfield-error-bg: #ffe5e5;
  --btt-confirm: #28a745;
  --bg-confirm: #218838;
  --bg-confirm-no: #dc3545;
  --bg-confirm-no-hover: #c82333;
  --bg-transp-modal: rgba(0, 0, 0, 0.6);
  --bg-transp-ajustes: rgba(0, 0, 0, 0.15);
  --prompt_box_shadow: rgba(0, 0, 0, 0.3);
  /*Servicios*/
  --service-1-bg: #e9f7ef;
  --service-1-border: #8ddfd0;
  --service-2-bg: #e8f4fd;
  --service-2-border: #bad7f9;
  --service-3-bg: #fdf0e6;
  --service-3-border: #f0cdaa;
  --service-4-bg: #f9e6ff;
  --service-4-border: #e1b6f4;
}

/* 
  Definimos el tema oscuro. Cuando se aplique la clase .theme-dark al elemento raíz (por ejemplo, al body),
  se sobreescribirán las variables CSS usadas en los estilos.
*/
.theme-dark {
  --primary-color: #343a40; /* Color principal, per exemple per a la capçalera */
  --secondary-color: #1470c2; /* Color secundari, pots mantenir-lo o ajustar-lo */
  /* Colors del tema fosc */
  --bg-color: #121212; /* Fons fosc */
  --text-color: #e0e0e0; /* Text clar per contrastar amb el fons */
  /* Colors complementaris */
  --light-grey: #2e2e2e; /* Grau fosc per elements secundaris */
  --grey-border: #444444; /* Bordos i ombres en to més fosc */
  --input-border: #555555; /* Bord dels inputs */
  --bgcolor-hover: #333333; /* Fons en estat hover */
  --bgcolor-active: #444444; /* Fons en estat actiu */
  --border-btt: #555555; /* Bord per botons en estat normal */
  --bg-tab: #2c2c2c; /* Fons de les pestanyes */
  --txtcolor-tab: #aaaaaa; /* Color del text de les pestanyes */
  --bg-tab-hover: #3a3a3a; /* Fons de pestanya en estat hover */
  --bg-tab-active: #007bff; /* Fons de pestanya activa */
  /* Variables de mida i transició */
  --top-bar-height: 60px;
  --tab-height: 60px;
  --font-size-base: 16px;
  --transition-speed: 0.3s;
  --textfield: #f8faf8;
  --textfield-error: rgb(255, 0, 0);
  --textfield-error-bg: #5a0000; /* Fons d'error més fosc */
  --btt-confirm: #28a745;
  --bg-confirm: #218838;
  --bg-confirm-no: #dc3545;
  --bg-confirm-no-hover: #c82333;
  --bg-transp-modal: rgba(0, 0, 0, 0.6); /* Transp. per a modals */
  --bg-transp-ajustes: rgba(0, 0, 0, 0.15);
  --prompt_box_shadow: rgba(0, 0, 0, 0.5); /* Ombra una mica més marcada */
  /* Serveis (pots adaptar aquests colors segons la teva identitat visual) */
  --service-1-bg: #1e2a1e;
  --service-1-border: #8ddfd0;
  --service-2-bg: #1e2a2e;
  --service-2-border: #bad7f9;
  --service-3-bg: #2a1e1e;
  --service-3-border: #f0cdaa;
  --service-4-bg: #2a1e2a;
  --service-4-border: #e1b6f4;
}

/* 
  Usamos las variables CSS para definir el fondo y color de texto.
  Así, cuando se cambie el tema (añadiendo o quitando la clase .theme-dark al body),
  se actualizarán automáticamente.
*/
body {
  font-family: Arial, sans-serif;
  font-size: var(--font-size-base);
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden !important;
}

main {
  flex: 1;
  padding-top: 100px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--top-bar-height);
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.title {
  line-height: 1.4;
  text-align: left;
  margin: 20px;
  font-size: clamp(20px, 2vw, 26px);
  font-weight: bold;
  color: var(--text-color);
}

.button-group {
  position: relative;
  display: flex;
  gap: 10px;
}

.ajustes-btn {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  margin: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px var(--bg-transp-ajustes);
}
.ajustes-btn .icon {
  transition: transform 0.3s ease;
}
.ajustes-btn.open .icon {
  transform: rotate(90deg);
}

.ajustes-panel {
  position: absolute;
  top: 80%;
  right: 20%;
  background-color: var(--bg-color);
  border: 0px solid var(--input-border);
  border-radius: 8px;
  box-shadow: 0 8px 16px var(--bg-transp-ajustes);
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1100;
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity var(--transition-speed) ease, transform var(--transition-speed) ease, visibility var(--transition-speed);
}
.ajustes-panel:not(.hidden) {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.ajustes-panel .big-btn {
  width: 100%;
  justify-content: flex-start;
  padding: 12px 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--light-grey);
  border: 1px solid var(--input-border);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: var(--text-color);
  box-sizing: border-box;
  text-align: left;
  border-radius: 0;
}
.ajustes-panel .big-btn:hover {
  background-color: var(--bgcolor-hover);
}
.ajustes-panel .big-btn:active {
  background-color: var(--bgcolor-active);
}
.ajustes-panel .big-btn i {
  font-size: 18px;
  color: var(--primary-color);
  pointer-events: none;
  transition: color 0.3s ease;
}
.ajustes-panel .big-btn:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ajustes-panel .big-btn:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ajustes-panel i {
  color: var(--secondary-color);
  font-size: 18px;
  pointer-events: none;
  transition: color 0.3s ease;
}

.tabs-container {
  position: fixed;
  top: var(--tab-height);
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--grey-border);
  z-index: 900;
  box-shadow: 0 2px 5px var(--bg-transp-ajustes);
}

button .fas,
button .far,
button .fa {
  pointer-events: none;
  font-size: inherit;
}

.tab {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  cursor: pointer;
  background: var(--bg-tab);
  border: none;
  display: flex;
  font-size: 16px;
  font-weight: normal;
  color: var(--txtcolor-tab);
  transition: all var(--transition-speed) ease;
}
.tab:hover {
  background-color: var(--bg-tab-hover);
}
.tab.active {
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--bg-tab-active);
  box-shadow: inset 0 -3px 0 var(--secondary-color);
}

.tab-content-container {
  margin-top: 120px;
  padding: 20px;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab.error-tab {
  animation: blinkErrorAnim 1s ease-in-out infinite alternate;
  font-weight: bold;
}

@keyframes blinkErrorAnim {
  0% {
    color: var(--textfield-error);
  }
  100% {
    background-color: var(--bg-tab);
    color: var(--bg-tab-active);
  }
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
}
.form-group input[type=text],
.form-group input[type=date],
.form-group input[type=datetime-local],
.form-group input[type=time],
.form-group select {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--textfield);
  text-align: left;
}
.form-group select {
  text-align: left;
  line-height: 1.4;
}

.input-error {
  border: 2px solid var(--textfield-error) !important;
  background-color: var(--textfield-error-bg) !important;
}

.service-controls {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

#service-buttons-container {
  display: flex;
  gap: 20px;
}

.service-button {
  width: clamp(40px, 5vw, 50px);
  height: clamp(40px, 5vw, 50px);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px var(--bg-transp-ajustes);
  border: none;
  color: var(--black);
  transition: all 0.2s ease;
  cursor: pointer;
  /* Canvi de color quan es clica (active) */
}
.service-button.service-1 {
  background-color: var(--service-1-border);
}
.service-button.service-2 {
  background-color: var(--service-2-border);
}
.service-button.service-3 {
  background-color: var(--service-3-border);
}
.service-button.service-4 {
  background-color: var(--service-4-border);
}
.service-button:active {
  filter: brightness(0.9);
}

.active-square {
  transform: scale(1.05);
  border: 1px solid var(--bg-tab-active);
}

.clear-selected-btn {
  margin-left: auto;
  width: clamp(40px, 5vw, 50px);
  height: clamp(40px, 5vw, 50px);
  border-radius: 8px;
  border: none;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--bg-tab-active);
  transition: background-color 0.3s ease;
  transition: filter 0.3s ease;
  /* Canvi de color al passar el ratolí */
  /* Canvi de color quan es clica (active) */
}
.clear-selected-btn.service-1 {
  background-color: var(--service-1-border);
}
.clear-selected-btn.service-2 {
  background-color: var(--service-2-border);
}
.clear-selected-btn.service-3 {
  background-color: var(--service-3-border);
}
.clear-selected-btn.service-4 {
  background-color: var(--service-4-border);
}
.clear-selected-btn:hover {
  filter: brightness(0.95);
}
.clear-selected-btn:active {
  filter: brightness(0.9);
}

.service {
  padding: clamp(15px, 3vw, 30px) clamp(10px, 2vw, 20px);
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--bg-transp-ajustes);
  position: relative;
  border: 2px dashed transparent;
}
.service.service-1 {
  background-color: var(--service-1-bg);
}
.service.service-2 {
  background-color: var(--service-2-bg);
}
.service.service-3 {
  background-color: var(--service-3-bg);
}
.service.service-4 {
  background-color: var(--service-4-bg);
}

.signature-group .input-with-icon {
  display: flex;
  align-items: stretch;
  position: relative;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  overflow: hidden;
  height: 40px;
}
.signature-group .input-with-icon:focus-within {
  border-color: var(--primary-color);
  border-width: 2px;
  border-style: solid;
}
.signature-group .input-with-icon input {
  flex: 1;
  height: 100%;
  padding-right: 50px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.signature-group .input-with-icon .signature-btn {
  width: 50px;
  height: 100%;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border-right: 1px solid var(--input-border);
  border: 0px solid var(--input-border);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.signature-group .input-with-icon .signature-btn i {
  color: #888;
  font-size: 18px;
  transition: color 0.3s;
}
.signature-group .input-with-icon .signature-btn:hover {
  background-color: #f1f1f1;
}
.signature-group .input-with-icon .signature-btn:hover i {
  color: #444;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--bg-transp-modal);
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: 10% auto;
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 20px 30px;
  max-width: 500px;
  box-shadow: 0 4px 8px var(--bg-transp-ajustes);
  animation: fadeIn var(--transition-speed) ease-in-out;
}
.modal-content .modal-title {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.modal-content h2,
.modal-content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 1px solid var(--grey-border);
  padding-bottom: 10px;
}
.modal-content p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--bg-tab-active);
  margin: 20px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.close-modal-btn {
  display: block;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 20px auto 0;
  font-size: 16px;
  padding: 12px 20px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color var(--transition-speed) ease;
}
.close-modal-btn:hover {
  background-color: var(--secondary-color-hover);
}

.diet-modal-content {
  background-color: var(--bg-color);
  border: 0px solid var(--input-border);
  max-height: 80vh;
  overflow-y: auto;
}

#diet-modal-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

#diet-options {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: left;
}

#diet-options li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);
  border: 1px solid var(--grey-border);
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
#diet-options li span {
  font-size: 15px;
  color: var(--text-color);
}
#diet-options li button.delete-diet {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-btt);
  border-radius: 8px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 15px;
}
#diet-options li button.delete-diet:hover {
  background-color: var(--grey-border);
}
#diet-options li button.delete-diet i {
  color: var(--black);
  pointer-events: none;
}

.btn-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  gap: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  text-decoration: none;
}
.btn-modal:hover {
  background-color: var(--secondary-color-hover);
}

#signature-modal {
  z-index: 9999;
}

.signature-modal-content {
  width: 50%;
  text-align: center;
  position: relative;
}
.signature-modal-content p.signature-instruction {
  text-align: left;
}

.signature-canvas-container {
  margin: 20px auto;
  width: 100%;
  height: 250px;
  border: 2px dashed var(--bgcolor-active);
  border-radius: 8px;
  background-color: var(--bg-color);
  position: relative;
}
.signature-canvas-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
  padding: 0px;
}

.modal-button {
  flex: 1;
  min-height: 44px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.modal-button.yes {
  background-color: var(--btt-confirm);
}
.modal-button.yes:hover {
  background-color: var(--bg-confirm);
}
.modal-button.no, .modal-button.cancel {
  background-color: var(--bg-confirm-no);
}
.modal-button.no:hover, .modal-button.cancel:hover {
  background-color: var(--bg-confirm-no-hover);
}
.modal-button.accept {
  background-color: var(--btt-confirm);
}
.modal-button.accept:hover {
  background-color: var(--bg-confirm);
}

.disabled-button {
  background-color: var(--bg-tab-active);
  cursor: not-allowed;
  opacity: 0.65;
}
.disabled-button:hover {
  background-color: var(--bg-tab-active);
}

#toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}

.toast {
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
  background-color: var(--btt-confirm);
  color: var(--text-color);
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  animation: fadeInOut 3s forwards;
  box-shadow: 0 2px 6px var(--black);
  font-size: 16px;
}
.toast.success {
  background-color: var(--btt-confirm);
}
.toast.error {
  background-color: var(--bg-confirm-no);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  border-top: 1px solid var(--bg-tab-active);
}
.footer .footer__container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer .footer__icons {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .app-version {
  font-size: 0.8em;
  opacity: 0.8;
  margin: 0;
  position: absolute;
  right: 0;
}
.footer p {
  margin: 0 0 2px 0;
  font-size: 15px;
}
.footer p a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}
.footer p a:hover {
  color: var(--sec-color);
  text-decoration: underline;
}
.footer .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease;
  object-fit: contain;
}
.footer .icon:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

#install-prompt {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 -2px 10px var(--prompt_box_shadow);
  text-align: center;
  z-index: 9999;
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
  opacity: 0;
}

#install-prompt.visible {
  transform: translateY(0);
  opacity: 1;
}

#install-prompt p {
  margin: 0 0 30px 0;
  font-size: 16px;
  font-weight: bold;
}

#install-prompt .install-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#install-prompt button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#install-prompt #install-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

#install-prompt #install-button:hover {
  background-color: var(--secondary-color-hover);
  transform: scale(1.05);
}

#install-prompt #dismiss-button {
  background-color: #5c6064;
  color: var(--text-color);
}

#install-prompt #dismiss-button:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

button .icon {
  pointer-events: none;
  width: 1.3em;
  height: 1.3em;
}

#diet-options li:active {
  background-color: var(--border-btt);
}

/* =======================================================
   Media Query para TABLETS (entre 768px y 1024px)
   ======================================================= */
@media (max-width: 1024px) and (min-width: 769px) {
  .top-bar {
    height: calc(var(--top-bar-height) - 4px);
    padding: 0px 0px;
  }
  .title {
    font-size: clamp(18px, 2vw, 22px);
  }
  .ajustes-btn {
    width: 42px;
    height: 42px;
    margin: 18px;
  }
  .tabs-container {
    top: calc(var(--tab-height) - 4px);
  }
  .tab {
    padding: 14px 12px;
    font-size: 15px;
  }
  main {
    padding-top: 110px;
  }
  .form-group {
    margin-bottom: 18px;
  }
  input[type=text],
  input[type=date],
  input[type=datetime-local],
  input[type=time],
  select {
    height: 38px;
    font-size: 15px;
    padding: 10px 14px;
  }
  .toast {
    width: 40vw;
    font-size: 15px;
    padding: 11px 22px;
  }
  .modal-content {
    padding: 18px 25px;
  }
  .btn-modal {
    font-size: 17px;
    padding: 18px 18px;
    gap: 18px;
  }
  .signature-modal-content {
    overflow-x: hidden;
    width: 80%;
    max-height: 50%;
  }
  .signature-canvas-container {
    height: 230px;
  }
}
/* =======================================================
   Media Query para MÓVILES (hasta 768px)
   ======================================================= */
@media (max-width: 768px) {
  .top-bar {
    height: calc(var(--top-bar-height) - 10px);
    padding: 0px 0px;
  }
  .title {
    font-size: clamp(16px, 3vw, 20px);
  }
  .button-group {
    flex-direction: row;
    gap: 15px;
    margin-left: auto;
  }
  .ajustes-btn {
    width: 36px;
    height: 36px;
    margin: 14px;
    border-radius: 8px;
  }
  .ajustes-btn i {
    font-size: 20px;
  }
  .ajustes-btn .icon {
    transition: transform 0.3s ease;
  }
  .ajustes-btn.open .icon {
    transform: rotate(90deg);
  }
  .ajustes-panel {
    min-width: 150px;
  }
  .ajustes-panel .big-btn {
    padding: 12px 15px;
    font-size: 14px;
    gap: 20px;
  }
  .tab {
    min-height: 8px;
    padding: 14px 16px;
    font-size: 16px;
  }
  .tabs-container {
    top: calc(var(--tab-height) - 10px);
  }
  .tab-content-container {
    margin-top: 110px;
  }
  input[type=text],
  input[type=date],
  input[type=datetime-local],
  input[type=time],
  select {
    height: 36px;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
  }
  select {
    text-align: center;
    line-height: normal;
  }
  label {
    margin-bottom: 8px;
  }
  .form-group {
    margin-bottom: 16px;
  }
  .toast {
    width: 80vw;
    font-size: 14px;
    padding: 10px 20px;
  }
  .modal-content {
    max-width: 80%;
    max-height: 90vh;
    margin: 18% auto;
    overflow: auto;
    padding: 15px 20px;
  }
  .modal-content h2,
  .modal-content h3 {
    font-size: 18px;
  }
  .modal-content p {
    font-size: 16px;
  }
  #about-title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
    color: var(--primary-color);
  }
  h3#diet-modal-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .btn-modal {
    font-size: 16px;
    border-radius: 8px;
    gap: 15px;
    padding: 16px 16px;
  }
  #diet-options li {
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  #diet-options li span {
    font-size: 15px;
    margin-right: 5px;
  }
  #diet-options li button.delete-diet {
    width: 34px;
    height: 34px;
    font-size: 14px;
    border: 1px solid var(--border-btt);
    border-radius: 8px;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
    margin-left: 10px;
  }
  #diet-options li button.delete-diet i {
    font-size: 14px;
  }
  .modal-buttons {
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
  .signature-modal-content {
    overflow-x: hidden;
    width: 80%;
    max-height: 90vh;
    max-width: 90%;
  }
  .signature-canvas-container {
    height: 200px;
  }
}